[submodule "src/MicroCoin"]
	path = src/MicroCoin
	url = https://github.com/MicroCoinHU/MicroCoin.git
[submodule "components/PNGComponents"]
	path = components/PNGComponents
	url = https://github.com/TurboPack/PNGComponents.git
[submodule "components/VirtualTreeView"]
	path = components/VirtualTreeView
	url = https://github.com/TurboPack/VirtualTreeView.git
