[submodule "src/MicroCoin"]
	path = src/MicroCoin
	url = https://github.com/MicroCoinHU/MicroCoin.git
[submodule "src/components/PNGComponents"]
	path = src/components/PNGComponents
	url = https://github.com/TurboPack/PNGComponents.git
[submodule "src/components/VirtualTreeView"]
	path = src/components/VirtualTreeView
	url = https://github.com/TurboPack/VirtualTreeView.git
